@import "normalize.css";
@import "reset.css";
//rem padrão 16px;

body {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container__menu {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, .8);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.logo {
    font-size: 1.5rem;
}

.menu__item, .profile__item {
    padding: 1rem;
    cursor: pointer;
}

.container__profile {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 2rem;
}

.profile__navegation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profile__item {
    margin: 0.4rem 1rem 0 0;
    border-radius: 50%;
}

.profile__image > img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}