@import "normalize.css";
@import "reset.css";
//rem padrão 16px;

body {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container__menu {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, .8);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.logo {
    font-size: 1.5rem;
}

.menu__item, .profile__item {
    padding: 1rem;
    cursor: pointer;
}

.container__profile {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 2rem;
}

.profile__status > h1 {
    font-size: 3rem;
    margin: 0.5rem 0;
}

.profile__status > p {
    margin: 0.5rem 0;
}

.profile__navegation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0.5rem;
}

.profile__item {
    width: 50px;
    height: 50px;
    margin: 0.4rem 1rem 0 0;
    border-radius: 50%;
    background-color: transparent;
    padding: 0.2rem;
    text-align: center;
}

.profile__image > img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.container__abilities {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.abilities__block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.abilities__card {
    width: 20rem;
    height: 32rem;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.abilities__card > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1.5rem 0;
}

.abilities__card > div > h3 {
    margin: 1rem 0;
    text-transform: uppercase;
}

.abilities__card > ul > li {
    padding: 0.2rem;
    text-align: center;
    text-transform: capitalize;
}