@media (max-width: 750px) {
    body > .container__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .logo {
        font-size: 2rem;
        margin-top: 0.5rem;
        margin-left: 4rem;
    }

    .menu {
        display: flex;
        justify-content: center;
    }

    .menu > li {
        text-align: center;
        font-size: 0.9em;
    }

    #profile,
    .profile__status {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .profile__image {
        margin-top: 2rem;
    }

    .profile__status > h1 {
        width: 90vw;
        margin: 2rem;
        font-size: 1rem;
        text-align: center;
    }

    .profile__menu > .profile__navegation {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container__about > article {
        width: 80%;
    }

    #abilities > .abilities__block {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .abilities__block > .abilities__card {
        height: 26rem;
        margin: 0.5rem;
    }
}