* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a, a:link, a:visited, A:active, a:hover { 
    text-decoration: none;
    color: #000;
}